/* JM, 07/20/2024 */
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
}
h1 {
    margin: 10px 0;
}
.flex {
    display: flex;
}
.flex#wrapper, 
.flex#hero-text, 
main.flex,
.flex#quote,
.flex.cta-text,
.flex.individ-img {
    flex-direction: column;
}
header, #hero, footer {
    background-color: #0A3161;
}
button, #call-to-action {
    background-color: #3882f6;
    border-radius: 10px;
}
#call-to-action {
    margin: 5vw auto;
    padding: 50px;
}
.box, .logo, .image, button {
    border: solid 3px #3882F6;
    border-radius: 7px;
}
.box, img.rand-img {
    max-width: 300px;
    aspect-ratio: 1;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}
.heroimg, #hero-image {
    flex: 125%;
    align-self: center;
    max-width: 450px;
    aspect-ratio: 1;
}
button {
    padding: 10px 20px;
    min-width: 90px;
    font-weight: 600;
}
header, nav ul {
    list-style-type: none;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.nav {
    margin-left: auto;
}
.nav-link, .hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 800;
}
section#hero {
    padding: 75px 1vw;
    flex: 1;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
div.hero {
    width: 70%;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.flex#hero-text {
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}
#rand-img {
    padding: 50px;
}
.flex.individ-img {
    justify-content: center;
    max-width: 300px;
    text-align: justify;
}
.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-top: 0;
}
.image-desc {
    color: rgba(31, 41, 55, 0.95);
    display: block;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.flex.rand-images {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5px 40px;
}
.flex#quote {
    justify-content: center;
    align-items: flex-end;
    background-color: #E5E7EB;
    padding: 75px 20vw;
}
#quote > blockquote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: -10px;
}
.quote-attr {
    color: #1F2937;
    font-size: 24px;
    font-weight: 700;
}
.flex#call-to-action {
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    min-width: 60%;
}
.flex.cta-text {
    justify-content: center;
}
h3.cta-text {
    font-size: 24px;
    margin-bottom: 0;
}
p.cta-text {
    margin-top: 5px;
}
button.call-to-action {
    border-color: #F9FAF8;
    padding: 10px 20px;
    align-self: center;
}
footer {
    justify-content: center;
    align-items: center;
    padding: 25px;
}