/* JM, 07/18/2024 */
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
}
h1, p {
    margin: 10px;
}
.flex {
    display: flex;
}
.flex#wrapper, 
.flex#hero-text, 
main.flex,
.flex#quote {
    flex-direction: column;
}
header, #hero, footer {
    background-color: #1F2937;
}
button, #call-to-action {
    background-color: #3882F6;
}
.box, .logo, .heroimg, button, .image-desc {
    border: solid 3px #3882F6;
    border-radius: 7px;
}
.box {
    width: 100px;
    height: 100px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}
.heroimg {
    flex: 125%;
    align-self: center;
    aspect-ratio: 2 / 1;
}
button {
    padding: 5px 10px;
    min-width: 90px;
}
header, nav ul {
    list-style-type: none;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.nav {
    margin-left: auto;
}
.nav-link, .hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 800;
}
section#hero {
    padding: 75px 1vw;
    flex: 1;
    word-wrap: break-word;
}
div.hero {
    width: 70%;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.flex#hero-text {
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}
#rand-img {
    padding: 50px;
}
.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-top: 0;
}
.image-desc {
    color: rgba(31, 41, 55, 0.95);
}
.break {
    flex-basis: 100%;
    height: 0;
}
.flex.rand-images {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px 25px;
}
.flex#quote {
    justify-content: center;
    align-items: flex-end;
    background-color: #E5E7EB;
    padding: 75px 18vw;
}
#quote > blockquote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: -10px;
}
.quote-attr {
    color: #1F2937;
    font-size: 24px;
    font-weight: 700;
}
footer {
    justify-content: center;
    align-items: center;
    padding: 25px;
}